<!-- templates/components/data_access/tables/table_emoji_lexicon.html -->
<table class="w-full text-left text-[11px] font-mono leading-tight">
    <thead class="bg-slate-200 border-b border-slate-300 text-slate-600 uppercase">
        <tr>
            <th class="px-4 py-3 font-black">Index</th>
            <th class="px-4 py-3 font-black">Emoji</th>
            <th class="px-4 py-3 font-black">Unicode Name</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-slate-50">
        <tr>
            <td class="px-4 py-3 text-slate-500">0</td>
            <td class="px-4 py-3 text-xl">😍</td>
            <td class="px-4 py-3 text-slate-500">SMILING FACE WITH HEART-SHAPED EYES</td>
        </tr>
        <tr>
            <td class="px-4 py-3 text-slate-500">1</td>
            <td class="px-4 py-3 text-xl">😭</td>
            <td class="px-4 py-3 text-slate-500">LOUDLY CRYING FACE</td>
        </tr>
        <tr>
            <td class="px-4 py-3 text-slate-500">2</td>
            <td class="px-4 py-3 text-xl">😊</td>
            <td class="px-4 py-3 text-slate-500">SMILING FACE WITH SMILING EYES</td>
        </tr>
    </tbody>
</table>
