<div class="space-y-14">

    {% include "components/data_access/data_access_framing.html" %}

    {% include "components/data_access/data_access_downloads.html" %}

    {% include "components/data_access/data_access_schema.html" %}

    <div class="grid grid-cols-1 gap-12">
        {% include "components/data_access/previews/preview_text.html" %}
        {% include "components/data_access/previews/preview_emoji.html" %}
    </div>

    {% include "components/data_access/data_access_why.html" %}

</div>
