<!-- templates/components/rnd_steps.html -->
{% set step = "01" %}
{% set title = "Data Ingestion & ETL" %}
{% set content = "components/step_01_ingestion.html" %}
{% set open = true %}
{% include "components/rnd_step.html" %}

{% set step = "02" %}
{% set title = "Linguistic Exploration" %}
{% set content = "components/step_02_eda.html" %}
{% set open = false %}
{% include "components/rnd_step.html" %}

{% set step = "03" %}
{% set title = "The Weighting Logic" %}
{% set content = "components/step_03_logic.html" %}
{% set open = false %}
{% include "components/rnd_step.html" %}

{% set step = "04" %}
{% set title = "Validation & Accuracy" %}
{% set content = "components/step_04_validation.html" %}
{% set open = false %}
{% include "components/rnd_step.html" %}
